@font-face {
    font-family: "dohyeon";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/dohyeon/dohyeon.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/dohyeon/dohyeon.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/dohyeon/dohyeon.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/dohyeon/dohyeon.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/dohyeon/dohyeon.ttf") format("truetype");
    font-display: swap;
} 
.dohyeon {
    font-family: "dohyeon";
}